
.container{
    padding:3rem;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.modal-container{
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%
}

.container >h2 {
    text-align: center;
    padding:12px;
}

.container > p {
    text-align: left;
}

.container > ul {
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
}

.modal-container.show-modal{
    display: block;
}

.modal{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    top: 45%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    animation-name: modalopen;
    animation-duration: 2s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

 .modal > button {
    position: absolute;
    top: 0;
    right:0;
} 
 
.modal-header{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

.modal-header h3{
    padding:5px;
    border-bottom: 1px solid gray;
}

.modal-content{
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .modalForm-input{
    padding: 8px;
    width: 90%;
}